body {
    background-image: url("https://raw.githubusercontent.com/Dipak-25-r/calculator-website/refs/heads/main/D.R.SOLANKI%20logo.webp");
    background-size: cover; /* Adjusts the image to cover the whole page */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-position: center; /* Centers the image */
}


#calculator {
    display: inline-block;
    margin-top: 50px;
}

#display {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 5px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
